body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color:  #ffcad4;
    text-align: center;
    display: flex;
    height: 100vh;
  }
  
  nav {
    width: 20%;
    background-color: #f4acb7;
    padding: 10px;
  }

  nav h3 {
    color: #5c4d7d;
    font-size: 30px;

  }
  
  iframe {
    width: 80%;
    border: none;
    height: 100vh;
  }
  a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: black ;
    font-size: 20px;
  }
  a:hover {
    color: #ffcdb2;
  }